.container__down {
    // display: flex;
    // align-items: center;
    text-align: center;
}

.container__footer {
    display: block;

    margin-bottom: 60px;

}

.footer__list {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: getColor('bg-dark');
}

.footer__logo {
    display: block;
    margin-bottom: 28px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: getColor('light');

    text-align: center;
}

.footer__logo-accent {
    color: getColor('brand');
}

.footer {

    &__item {
        text-align: center;
        margin-bottom: 12px;
    
    }
}

.footer__adress {
    line-height: 1.14;
    color: getColor('light');
    font-style: normal;
    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: getColor('brand');
    }
}

.footer__contacts {
    line-height: 1.14;
    color: getColor('light-secondary');
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: getColor('brand');
    }
}