.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    background-color: getColor('bg-hero');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        margin-bottom: 30px;
            max-width: 696px;
            margin-left: auto;
            margin-right: auto;
        
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
        
            text-transform: uppercase;
        
            color: getColor('light');
    }
}

.hero-section__button {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    background-color: getColor('brand');
    color: getColor('light');

    cursor: pointer;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus {
        background-color: getColor('bg-button');
            color: getColot('light');
    }
}
