.header {
    
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: auto;
    border-bottom: 1px solid getColor('header-bord');

    @media screen and (max-width: 480px) {
        height: 60px;
    }
}

.header__container {
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.menu-toggle {
    display: inline-flex;
    
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: getColor('light');

    & .icon__menu:hover,
    & .icon__menu:focus {
        fill: getColor('brand');
    }
}


.menu-toggle.is-open .icon__cross {
    display: block;
   
}





.header__nav {
@media screen and (max-width: 480px) {
        display: none;

    }
}


.header__logo {
    font-family: $font-logo;
    font-weight: 700;
    font-size: 26px;
    color: getColor('primary');
}

.header__logo-accent {
    color: getColor('brand');
}