.hero-section {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;

    text-align: center;
    background-color: getColor('bg-hero');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        margin-bottom: 30px;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;

        text-transform: uppercase;

        color: getColor('light');
    }
}

.hero-section__button {
    border-radius: 4px;
    width: 200px;
    height: 50px;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-align: center;

    background-color: getColor('brand');
    color: getColor('light');

    cursor: pointer;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: getColor('bg-button');
        color: getColot('light');
    }
}