body {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: getColor('primary');

}

.section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

img {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
        
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.blank {
    display: block;
}